/* * {
  border: solid 1px black;
} */

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Yuji Syuku", serif;
  background-color: #f0e7d1;
  margin-top: 2em;
}

main {
  margin: auto;
  width: 95%;
  padding: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f5c347;
}

table {
  padding: 1em 1em 1em 0em;
  font-size: 1.2em;
}

th {
  text-align: center;
  background-color: white;
  padding: 1em;
}

td {
  background-color: white;
  text-align: center;
  padding: 1em;
}

footer {
  width: 100vw;
  padding: 3px;
  background-color: #5f4d24;
}

footer p {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 0;
  color: white;
}

footer ul {
  text-align: center;
}

footer ul li {
  margin: auto;
  width: 100%;
  padding: 0em 0em 1em 1em;
  display: inline;
}

figcaption {
  font-size: 1.2em;
}

/* sticky doesn't work */
.nav {
  position: sticky;
  top: 0;
  background-color: #5f4d24;
  width: 100vw;
  height: 10vh;
  padding: 0.5em;
  margin: 1em 0em;
  overflow: hidden;
}

.nav ul li {
  font-size: 1.2em;
  display: inline-block;
  padding-right: 1em;
  margin: 0 0 0 1em;
}

.container1 {
  width: 25%;
  float: left;
}

.image_container1 {
  width: 15vw;
  display: block;
  margin: auto;
  border-radius: 5%;
}

.image_container1:hover {
  filter: drop-shadow(0 10px 10px rgba(88, 68, 68, 0.9));
}

.shadow {
  filter: drop-shadow(0 0px 3px rgba(88, 68, 68, 0.9));
}

.container2 {
  font-size: 1.2em;
  width: 75%;
  margin: auto;
  float: right;
}

.container2 span {
  text-decoration: underline double black;
}

.gallery_page {
  text-align: center;
}

.gallery {
  display: inline-block;
}

.gallery_image {
  width: 22em;
}

.bio1 {
  width: 10em;
  float: left;
  padding-right: 1em;
}

.bio2 {
  width: 12em;
  float: right;
  padding-left: 1em;
}

.bio3 {
  width: 12em;
  float: left;
  padding-right: 1em;
}

.contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 2em 2em 0.5em 2em;
  background-color: white;
  border-radius: 10%;
  text-align: center;
  font-size: 1.5;
}

.contact > div > img {
  width: 2rem;
}

.contact > div {
  color: white;
  padding: 5px 10px;
  position: absolute;
  top: 5px;
  right: 10px;
}

.contact ul li {
  display: inline-block;
}

.contact_image {
  width: 3em;
}

.contact_image:hover {
  opacity: 50%;
}

.clear {
  clear: left;
}
